<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.timehub.baseproject">

    <!--<uses-permission android:name="android.permission.INTERNET" />-->
    <!--<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />-->
    <!--<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />-->

    <!--<application-->
        <!--android:name="com.naver.temy123.baseproject.base.Widgets.BaseApplication"-->
        <!--android:allowBackup="true"-->
        <!--android:icon="@mipmap/hwfw_ic_launcher"-->
        <!--android:label="@string/hwfw_app_name"-->
        <!--android:theme="@style/AppTheme"></application>-->

</manifest>
